$primary-color: #ff6060;
$secondary-color: #f7f7f7;
$tertiary-color: #FFFFFF;

$footer-color: #000000;
$background-color: rgba(0,0,0,0.3);

$breakpoint-desktop: 1440px;
$breakpoint-mobile: 768px;

$wmin: 320px;
$wmax: 768px;

