.collapse {
	width: 100%;
	margin: 31px auto 0;

	&__visible {
		background: #ff6060;
		color: white;
		cursor: pointer;
		display: flex;
		width: 94%;
		justify-content: space-between;
		align-items: center;
		height: 47px;
		padding: 7px 15px;
		border-radius: 5px;

		h2 {
			font-size: 20px;
		}
	}

	&__toggle {
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 142.6%;
		width: 94%;
		opacity: 0;
		color: #ff6060;
		background: #f6f6f6;
		border-radius: 5px;
		transition: opacity 0.4s ease-in-out, height 0.4s 0.4s ease-in-out;

		p {
			margin: 0;
			padding: 22px 15px;
			pointer-events: none;
			line-height: 1.3;
		}
	}
}

.animated {
	opacity: 1;
	transition: height 0.4s ease-in-out, opacity 0.4s 0.4s ease-in-out;
}

.chevron {
	width: 15px;
    transform: rotate(0deg);
    transition: 0.4s 0.4s ease-in-out;
}

.rotated {
		transform: rotate(180deg);
		transition: 0.4s ease-in-out;
	}
