#carrousel-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}

.slideImage {
    display: flex;
    width: 100%;
    object-fit: cover;
    }

.rightArrow {
    display: flex;
    position: absolute;
    top: 50%;
    right: 20px;
    width: 47px;
    height: 79px;
    z-index: 10;
    cursor: pointer;
}

.leftArrow {
    display: flex;
    position: absolute;
    top: 50%;
    left: 20px;
    width: 47px;
    height: 79px;
    z-index: 10;
    cursor: pointer;
}