.headerWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 100px 0 100px;

    &__fig{
        display: flex;
        align-items: flex-start;
        margin: 0;
    }
}

.logo img{
    width: 210px;
    height: 68px;
}
