.bl-msk {
	background: rgba(0, 0, 0, 0.3);
	mix-blend-mode: darken;
	border-radius: 25px;
}

.wh-msk {
	background: #f7f7f7;
	border-radius: 10px;
}

.errorContainer {
	display: flex;
	color: #ff6060;
	flex-direction: column;
	align-items: center;
	margin: 100px 0;
}

.errorNumber {
	display: flex;
	font-size: 288px;
	font-weight: 700;
	margin: auto;
}

.errorText {
	display: flex;
	font-size: 36px;
	font-weight: 500;
}

.errorLinkHome {
	display: flex;
	text-decoration: none;
	color: #ff6060;
	font-size: 18px;
	font-weight: 500;
	margin-top: 100px;

	&:hover {
		text-decoration-line: underline;
	}
}

.cards-container {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 60px;
	padding: 5% 0;
	background-color: #f7f7f7;
	border-radius: 25px;
	margin: 43px 0;
	flex-wrap: wrap;
}

.link_card_logement {
	text-decoration: none;
}

.equipList {
	list-style-type: none;
}

.fiche-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.title-tags-container {
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.tags-container {
	display: flex;
}

.rate-host-container {
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.hostInfo-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.collapse-fiche-container {
	display: flex;
    width: 100%;
	gap: 6%;
}