.errorContainer {
	display: flex;
	color: $primary-color;
	flex-direction: column;
	align-items: center;
	margin: 22px 6%;
}

.errorNumber {
	@include flex-center;
	@include font(96px, 700);
	margin: 12rem 0 1rem 0;

	@media screen and (min-width: $breakpoint-tablet) {
		@include font(288px, 700);
		margin: 0;
	}
}

.errorText {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	@include font(18px, 500);
	margin: 0 11%;

	@media screen and (min-width: $breakpoint-tablet) {
		@include font(36px, 500);
		margin: 0;
	}
}

.errorLinkHome {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-decoration: none;
	color: $primary-color;
	@include font(14px, 500);
	margin-top: 9rem;

	@media screen and (min-width: $breakpoint-tablet) {
		@include font(18px, 500);
	}

	&:hover {
		text-decoration-line: underline;
	}
}
