.nav-header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 309px;
    height: 34px;

    &_link-home, &_link-about{
        color: $primary-color;
        text-decoration: none;
        font-size: normal;
        font-size: 24px;
        font-weight: 500;
        text-align: right;
        line-height: 34px;
        
        &:hover{
            text-decoration-line: underline;
        }
    }
}
