.nav-header {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-transform: uppercase;

	@media screen and (min-width: $breakpoint-tablet) {
		text-transform: none;
	}

	&_link-home,
	&_link-about {
		color: $primary-color;
		text-decoration: none;
		padding-left: 0.8rem;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		text-align: right;
		line-height: 142.6%;

		@media screen and (min-width: $breakpoint-tablet) {
			@include font24;
			padding-left: 3.5rem;
		}

		&:hover {
			text-decoration-line: underline;
		}
	}
}
