.banner-container{
    display: flex;
    width: 100%;
    max-width: 1240px;
    height: 223px;
    background: url(../../assets/images/background-banner.png), url(../../assets/images/fond-noir-banner.png);
    mix-blend-mode: darken;
    opacity: 1;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 63px;
}

.banner-text{
    display: flex;
    font-size: 48px;
    font-weight: 500;
    line-height: 142.6%;
    color: #FFFFFF;

    &-container{
    display: flex;
    width: auto;
    height: 68px;
}
}
