.banner-container{
    position: relative;
    display: flex;
    width: 100%;
    height: 223px;
    background: url(../../assets/images/background-banner.png) no-repeat;
    background-size: cover;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 63px;
}

.banner-text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 48px;
    font-weight: 500;
    line-height: 142.6%;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    border-radius: 25px;

    &-container{
    display: flex;
}
}
