.banner-text-container{
    display: flex;
    width: auto;
    height: 68px;
}

.banner-container{
    display: flex;
    width: 100%;
    max-width: 1240px;
    height: 223px;
    background-image: url(../../assets/images/background-banner.png);
    mix-blend-mode: darken;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.banner-text{
    display: flex;
    font-size: 48px;
    font-weight: 500;
    line-height: 142.6%;
    color: #FFFFFF;
}
